.DS_Store
/engine.js
/engine.js.map
__MACOSX
/dist.zip
/bin
/cache
/cli
/tmp
/libraries
/layouts
/includes
/images
/node_modules
/build
/modules
/media
/components
robots.txt.dist

LICENSE.txt
README.txt
configuration.php
htaccess.txt
index.php
!/templates/shaper_helixultimate/index.php
robots.txt
web.config.txt
package-lock.json
helix-ultimate.zip

!/plugins
/plugins/*

!/plugins/ajax
/plugins/ajax/*
!/plugins/ajax/helixultimate

!/plugins/system
/plugins/system/*
!/plugins/system/helixultimate

!/templates/
/templates/*
!/templates/shaper_helixultimate
/templates/shaper_helixultimate/css/presets
/templates/shaper_helixultimate/css/template.css


!/language
/language/*

!/language/en-GB
/language/en-GB/*
!/language/en-GB/en-GB.tpl_shaper_helixultimate.ini

!/administrator
/administrator/*

!/administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.plg_system_helixultimate.ini
