
body .helix-4-header-area{
    background-color: #4A90E2;
    padding: 25px 10px;
    font-size: 14px;
    font-weight: 500;
}

.row-fluid > div{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.helix-4-header-area ul.helix-4-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.helix-4-header-area ul.helix-4-menu li{
    display: inline-block;
}

.helix-4-header-area ul.helix-4-menu li a{
    color: #ffffff;
    line-height: 30px;
    padding: 0 10px;
}

/*footer*/

footer.helix-4-footer-area {
    background-color: #4A4A4A;
    padding: 60px 35px 50px;
    color: #c6c6c6;
    font-size: 16px;
    line-height: 25px;
}

.footer-widget {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    font-weight: 400;
}

.footer-widget .widget-title {
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 400;
}

.footer-widget .footer-logo {
    margin-bottom: 30px;
    display: inline-block;
}

footer.helix-4-footer-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer.helix-4-footer-area ul li{
    padding: 6px 0;
}


footer.helix-4-footer-area a,
footer.helix-4-footer-area ul li a {
    color: #c6c6c6;
    -webkit-transition: .4s;
    transition: .4s;
}

footer.helix-4-footer-area ul li a:hover{
    color: #fff;
}

footer.helix-4-footer-area .helix-4-footer-social {
    margin-top: 20px;
    margin-left: -5px;
}

footer.helix-4-footer-area .helix-4-footer-social a{
    margin-right: 8px;
    padding: 5px;
}

footer.helix-4-footer-area .helix-4-footer-social a:hover{
    color: #fff;
}

.copyright-text{
    font-size: 14px;
    color: #fff;
    opacity: .3;
    margin-top: 50px;
}

.copyright-text p{
    margin-bottom: 0;
}
