@media (min-width: 576px) {
  .sppb-row-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .sppb-row-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .sppb-row-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .sppb-row-container {
    max-width: 1140px;
  }
}